@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background-color: black;
}

div {
  color: white;
  font-family: 'Inconsolata', monospace;
}

a {
    color: aqua;
}

.easter {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  margin: auto;
}

.competition {
  float: left;
  margin-top: 35vh;
  font-size: 0.75vw;
  text-align: left;
  padding: 10px;
  padding-left: 30vh;
  width: 55%;
}

.left {
  width: 55%;
  text-align: center;
  font-size: 0.5vw;
  margin-top: 20vh;

}

.left p {
  font-size: 2vh;
  color: #eeeeee;
}

.right {
  width: 45%;
  margin-top: 25vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other  */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .left {
    font-size: 1vw;
    margin-top: 5vh;
  }

  .right {
    margin-top: 5vh;
  }
} 